*.swp
.ghc.environment.x86_64-linux*
_cache
_site
cabal.project.local
cabal.project.local~
dist
dist-newstyle
.gitignore
/temp*
/trash


README.md
fields.txt
notes.txt
provider/snippets/
roadmap.txt
test/

/purify.js
watch.log
TAGS.html
Main.hs
bin/.deploy.swp
cabal.project.local
cabal.project.local~
_cache
_cache/
dist
dist-newstyle
dist-newstyle/
fields.txt
.ghc.environment.x86_64-linux*
.gitignore
Main.hs
notes.txt
provider/snippets/
/purify.js
README.md
roadmap.txt
_site
_site/
*.swp
TAGS.html
/temp*
test/
/trash
watch.log
